---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.css";
import ScrollToTop from "../components/post-layout/ScrollToTop.astro";
import PostHeader from "../components/post-layout/PostHeader.astro";

interface Props {
  title: string;
  description: string;
  author: {
    data: {
      name: string;
      link: string;
    };
  };
  date: Date;
  lastmod: Date;
}

const { title, description, author, date, lastmod } = Astro.props;
---

<BaseLayout {title} {description}>
  <main>
    <PostHeader {title} {description} {author} {date} {lastmod} />
    <article>
      <slot />
    </article>
    <ScrollToTop />
  </main>
</BaseLayout>
