---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.scss";
import { Icon } from "@noclaps/icons";

const { title, description, author, date, lastmod, readingTime } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main id="swup">
    <div class="header">
      {
        lastmod ? (
          <time datetime={lastmod.toISOString()}>{lastmod.toDateString()}</time>
        ) : (
          <time datetime={date.toISOString()}>{date.toDateString()}</time>
        )
      }
      <h1>{title}</h1>
      <h3>{description}</h3>
      <div class="post-info">
        <p>{readingTime}</p>
        <p>
          Written by <a href={author.data.link}>{author.data.name}</a>
        </p>
      </div>
    </div>
    <article>
      <slot />
    </article>
    <button
      type="button"
      id="scrollToTop"
      onclick="
      window.scrollTo({ top: 0, behavior: 'smooth' });
      "
      title="Go to top"
    >
      <p><Icon name="arrow-up" />Back to top</p>
    </button>
  </main>
</BaseLayout>
