---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.css";
import { Icon } from "@noclaps/icons";

const { title, description, author, date, lastmod } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <div class="header">
      {
        lastmod ? (
          <time datetime={lastmod.toISOString()}>{lastmod.toDateString()}</time>
        ) : (
          <time datetime={date.toISOString()}>{date.toDateString()}</time>
        )
      }
      <h1>{title}</h1>
      <h3>{description}</h3>
      <div class="post-info">
        <p>
          Written by <a href={author.data.link}>{author.data.name}</a>
        </p>
      </div>
    </div>
    <article>
      <slot />
    </article>
    <button type="button" id="scrollToTop" title="Go to top">
      <p><Icon name="arrow-up" />Back to top</p>
    </button>
  </main>
</BaseLayout>

<script>
  let button = document.getElementById("scrollToTop");

  button?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  button!.style.display = "flex";

  window.onscroll = function () {
    if (window.scrollY > 64) {
      button!.style.opacity = "1";
    } else {
      button!.style.opacity = "0";
    }
  };
</script>
