---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.css";
import ScrollToTop from "../components/post-layout/ScrollToTop.astro";

const { title, description, author, date, lastmod } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <div class="header">
      {
        lastmod ? (
          <time datetime={lastmod.toISOString()}>{lastmod.toDateString()}</time>
        ) : (
          <time datetime={date.toISOString()}>{date.toDateString()}</time>
        )
      }
      <h1>{title}</h1>
      <h3>{description}</h3>
      <div class="post-info">
        <p>
          Written by <a href={author.data.link}>{author.data.name}</a>
        </p>
      </div>
    </div>
    <article>
      <slot />
    </article>
    <ScrollToTop />
  </main>
</BaseLayout>
