---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout title="Sitemap" description="Sitemap">
    <main>
        <h1>Sitemap</h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li>Science</li>
            <li>
                <ul>
                    {
                        posts.map(
                            (post) =>
                                post.slug.startsWith("science/") && (
                                    <li>
                                        <a href={`/${post.slug}`}>
                                            {post.data.title}
                                        </a>
                                    </li>
                                )
                        )
                    }
                </ul>
            </li>
            <li>History</li>
            <li>
                <ul>
                    {
                        posts.map(
                            (post) =>
                                post.slug.startsWith("history/") && (
                                    <li>
                                        <a href={`/${post.slug}`}>
                                            {post.data.title}
                                        </a>
                                    </li>
                                )
                        )
                    }
                </ul>
            </li>
            <li>Tech</li>
            <li>
                <ul>
                    <li>Privacy, Security and Anonymity</li>
                    <li>
                        <ul>
                            {
                                posts.map(
                                    (post) =>
                                        post.slug.startsWith("tech/psa/") && (
                                            <li>
                                                <a href={`/${post.slug}`}>
                                                    {post.data.title}
                                                </a>
                                            </li>
                                        )
                                )
                            }
                        </ul>
                    </li>
                    {
                        posts.map(
                            (post) =>
                                post.slug.startsWith("tech/") &&
                                !post.slug.startsWith("tech/psa/") && (
                                    <li>
                                        <a href={`/${post.slug}`}>
                                            {post.data.title}
                                        </a>
                                    </li>
                                )
                        )
                    }
                </ul>
            </li>
        </ul>
    </main>
    <style lang="scss">
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                a {
                    white-space: nowrap;
                }

                &:has(ul) {
                    list-style-type: none;
                }
            }
        }
    </style>
</BaseLayout>
