---
interface Props {
  title: string;
  description?: string;
  href: string;
  date: Date;
  author: string;
}

const { title, description, href, date, author } = Astro.props;
---

<a href={`/${href}`}>
  <time datetime={date.toISOString()}>{date.toDateString()}</time>
  <h4>{title}</h4>
  {description && <p>{description}</p>}
  <p>Written by {author}</p>
</a>

<style>
  a {
    color: var(--text);
    border: 0.125rem solid var(--light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--background);
    transition: all 0.25s;
    min-width: 16rem;

    &:hover {
      text-decoration: none;
      border-color: var(--primary);
    }

    @media (max-width: 768px) {
      min-width: min-content;
    }
  }

  h4 {
    font-size: 1.25rem;
    margin: 0.25rem;
  }

  time,
  p {
    margin: 0.25rem;
    opacity: 0.75;
  }
</style>
