---
interface Props {
  title: string;
  description?: string;
  href: string;
  date?: Date;
  author?: string;
}

const { title, description, href, date, author } = Astro.props;

const titleString = title.toLowerCase().split(" ").join("");
const timeString = `${date?.toDateString().split(" ").join("")}-${titleString}`;
const descriptionString = description?.toLowerCase().split(" ").join("");
const authorString = `${author}-${titleString}`;
---

<a href={`/${href}`} title={title}>
  {
    date && (
      <time transition:name={timeString} datetime={date.toISOString()}>
        {date.toDateString()}
      </time>
    )
  }
  <h3 transition:name={titleString}>{title}</h3>
  {description && <p transition:name={descriptionString}>{description}</p>}
  {author && <p transition:name={authorString}>Written by {author}</p>}
</a>

<style>
  a {
    color: canvastext;
    border: 0.125rem solid accentcolor;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: canvas;
    transition: all 0.25s;

    &:hover {
      box-shadow: 0 0 0.5rem 0.25rem accentcolor;
      text-decoration: none;
    }
  }

  h3,
  p,
  time {
    margin: 0.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  time {
    font-style: italic;
  }
</style>
