---
import { getCollection } from "astro:content";
import Link from "./Link.astro";

interface Props {
  section: string;
}

const { section } = Astro.props;

const posts = await getCollection("posts").then((posts) => {
  return posts.sort((a, b) => {
    if (a.data.series && b.data.series) {
      if (a.data.series > b.data.series) return 1;
      if (a.data.series < b.data.series) return -1;
      return 0;
    }

    const aDate = a.data.lastmod ?? a.data.date;
    const bDate = b.data.lastmod ?? b.data.date;

    if (aDate > bDate) return -1;
    if (aDate < bDate) return 1;
    return 0;
  });
});
---

<div class="topic">
  <h2>{section.charAt(0).toUpperCase() + section.slice(1)}</h2>
  <div class="posts">
    {
      section !== "tech" && (
        <section>
          {posts.map(
            (post) =>
              post.slug.startsWith(section) && (
                <Link
                  title={post.data.title}
                  description={post.data.description}
                  href={post.slug}
                  date={post.data.lastmod ?? post.data.date}
                  author={post.data.author.id}
                />
              ),
          )}
        </section>
      )
    }
    {
      section === "tech" && (
        <>
          <section>
            {posts.map(
              (post) =>
                post.slug.startsWith("tech") &&
                !post.slug.startsWith("tech/psa") &&
                !post.slug.startsWith("tech/inside-e2ee") && (
                  <Link
                    title={post.data.title}
                    description={post.data.description}
                    href={post.slug}
                    date={post.data.lastmod ?? post.data.date}
                    author={post.data.author.id}
                  />
                ),
            )}
          </section>
          <h3>Inside E2EE</h3>
          <section>
            <div class="links">
              {posts.map(
                (post) =>
                  post.slug.startsWith("tech/inside-e2ee") && (
                    <Link
                      title={post.data.title}
                      description={post.data.description}
                      href={post.slug}
                      date={post.data.lastmod ?? post.data.date}
                      author={post.data.author.id}
                    />
                  ),
              )}
            </div>
          </section>
          <h3>Privacy, Security and Anonymity</h3>
          <section>
            <div class="links">
              {posts.map(
                (post) =>
                  post.slug.startsWith("tech/psa") && (
                    <Link
                      title={post.data.title}
                      description={post.data.description}
                      href={post.slug}
                      date={post.data.lastmod ?? post.data.date}
                      author={post.data.author.id}
                    />
                  ),
              )}
            </div>
          </section>
        </>
      )
    }
  </div>
</div>

<style>
  h2 {
    margin-top: 0;
  }

  section,
  .links {
    display: flex;
    overflow: auto;
    gap: 1rem;
  }

  h3,
  h3 + section {
    margin-left: 4rem;
  }
</style>
