---
import BaseLayout from "./BaseLayout.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import "@/styles/layout.css";
import "@/styles/post.css";

interface Props {
    title: string;
    author: {
        data: {
            name: string;
            link: string;
        };
    };
    date: Date;
    lastmod?: Date;
}

const { title, author, date, lastmod } = Astro.props;

const pubDate = lastmod ?? date;
---

<BaseLayout {title}>
    <main>
        <div class="note-header">
            <time datetime={pubDate.toISOString()}
                >{pubDate.toDateString()}</time
            >
            <h1>{title}</h1>
            <p class="author">
                Written by <a class="author-link" href={author.data.link}
                    >{author.data.name}</a
                >
            </p>
        </div>
        <article>
            <slot />
        </article>
        <ScrollToTop />
    </main>
</BaseLayout>
