---
import TableOfContents from "@/components/layout/TableOfContents.astro";
import BaseLayout from "./BaseLayout.astro";
import "@/styles/layout.css";
import "@/styles/post.css";
import type { MarkdownHeading } from "astro";

interface Props {
    title: string;
    author: {
        data: {
            name: string;
            link: string;
        };
    };
    date: Date;
    lastmod?: Date;
    headings: MarkdownHeading[];
}

const { title, author, date, lastmod, headings } = Astro.props;

const pubDate = lastmod ?? date;
---

<BaseLayout {title}>
    {
        headings.length > 0 && (
            <details slot="header">
                <summary>Table of Contents</summary>
                <TableOfContents {headings} />
            </details>
        )
    }
    <div class="content">
        {
            headings.length > 0 && (
                <div class="toc">
                    <h3>Table of Contents</h3>
                    <TableOfContents {headings} />
                </div>
            )
        }
        <main>
            <div class="note-header">
                <time datetime={pubDate.toISOString()}
                    >{pubDate.toDateString()}</time
                >
                <h1>{title}</h1>
                <p class="author">
                    Written by <a class="author-link" href={author.data.link}
                        >{author.data.name}</a
                    >
                </p>
            </div>
            <slot />
        </main>
    </div>
</BaseLayout>
