---
import BaseLayout from "./BaseLayout.astro";
import "@/styles/post.css";
import "@/styles/layout.css";
import ScrollToTop from "@/components/ScrollToTop.astro";

interface Props {
  title: string;
  description: string;
  author: {
    data: {
      name: string;
      link: string;
    };
  };
  date: Date;
  lastmod?: Date;
}

const { title, description, author, date, lastmod } = Astro.props;

const pubDate = lastmod ?? date;
---

<BaseLayout {title} {description}>
  <main>
    <div class="post-header">
      <time datetime={pubDate.toISOString()}>
        {pubDate.toDateString()}
      </time>
      <h1>{title}</h1>
      <div class="post-info">
        <h3 class="description">{description}</h3>
        <p class="author">
          Written by <a class="author-link" href={author.data.link}
            >{author.data.name}</a
          >
        </p>
      </div>
    </div>

    <slot />

    <ScrollToTop />
  </main>
</BaseLayout>
